<p id="notice"><%= notice %></p>

<p>
  <strong>Desc tipo donacion:</strong>
  <%= @tipo_donacione.Desc_Tipo_Donacion %>
</p>

<%= link_to 'Edit', edit_tipo_donacione_path(@tipo_donacione) %> |
<%= link_to 'Back', tipo_donaciones_path %>
